/* Reset and box-sizing */
*,
*::before,
*::after 
{
  box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

/* Layout containers */
#main-container
{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#grid-container
{
    width: 90vmin;
    height: 90vmin;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
}

/* Grid squares */
.grid-square
{
    margin: 0;
}

/* Control */
button
{
    flex: 0 0 auto;
}