*,
*::before,
*::after 
{
  box-sizing: border-box;
}
html, body
{
    margin: 0;
    padding: 0;
}

#main-container
{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#grid-container
{
    width: 90vmin;
    height: 90vmin;
    display: flex;
    flex-flow: row wrap;
}

.grid-square
{
    margin: 0;

    /* Remove after project is complete */
    border: 1px solid black;
}

button
{
    flex: 0 0 auto;
}