*,
*::before,
*::after 
{
  box-sizing: border-box;
}
html, body
{
    margin: 0;
    padding: 0;
}

#grid-container
{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.grid-square
{
    flex: 1 1 200px;
    
    /* Remove after project is complete */
    border: 2px solid black;
}